*.la
*.lo
*.o
*.orig
*.pyc
*.rej
*~
.*.sw?
.deps/
.idea/
.libs/
Makefile
Makefile.in
aclocal.m4
auto/
autom4te.cache
autom4te.cache
autoscan.log
bin/
config.cache
config.h
config.h.in
config.log
config.status
configure.scan
configure
dep/
libs/
libtool
nbproject/
objs/
stamp-h
stamp-h.in
stamp-h1
